/* Colors (theme)
#648ca6 
#FBBF24 
#394263 
#262c43 
#60A5FA
#059669
*/


body {
  margin: 0;
  padding: 0;
  color: #fff;
    /* font-family: 'Open Sans', Helvetica, sans-serif; */
    font-family: Century Gothic, sans-serif; 
  box-sizing: border-box;
  
}
button{

  
  background-color: #394263; /*#262c43*/
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px;
  border-radius: 3px;

}
button:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
cursor: pointer;
}
.table {
  background: #394263;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  margin-left: 5%;
}

  tr {
    border-color: lighten(#34495E, 10%);

    
  }

  tr:hover{
    color: 	#8B81EF;
	cursor: pointer;

  }

  th, td {
    margin: .5em 1em;
    padding: 5px;
    
  
  }
 
  th, td:before {
    color: #dd5;
  
  }
  th{
    border-bottom: 1px solid black;
    border-collapse: collapse;
  }

/* .table{

}
 table {
margin-left: 30px;
	border-collapse: collapse;
}  
th{
	background-color: #394263;
	color: white;
	border-radius: 2px;
  padding-left: 10px;
  margin-left: 10px;
  
  }
  tbody{

	margin-bottom: 3px;
  
	font-size: 15px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
   
	
  }
  
  td{
   
	border-collapse: collapse;
  }
  tr{
    width: 300px;
  }
  tr:nth-child(even)
   {background-color: #f2f2f2;}
   tr:nth-child(odd)
   {background-color: #ffff;}
  tr:hover{
	color: 	#8B81EF;
	cursor: pointer;
  }  */

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  background-color: #262c43;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.menu-icon {
  position: fixed; /* Needs to stay visible for all mobile scrolling */
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  background-color: #DADAE3;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #648ca6;
  border-radius: 10px;
  margin-left: 5vw;
  margin-top: 5px;
  margin-right: 10px ;
}

/* Make room for the menu icon on mobile */


.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  background-color: #394263;
   
  text-align: center;

}
.sidenav .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
    

  }
.sidenav .logo-details .logo_name{
    font-family: Jomhuria, sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-left: 0vw;
    }
    
.sidenav.active {
  transform: translateX(0);
  
}



.sidenav__list {
  padding: 10px;
  margin-top: 10px;
  list-style-type: none;
  
}
.sidenav__list-item {
  padding: 10px 10px 10px 20px;
  color: #fff;
  transition: all 0.4s ease;
  font-family: Century Gothic, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  
}

.sidenav__list-item:hover {
    background: #8B81EF;
    border-radius: 20px;
    box-shadow: -3px 3px 3px white;
    font-style:inherit;
    cursor: pointer;
    
}
.sidenav__list-item.active{
      background: #8B81EF;
      border-top-right-radius: 20px;
      border-bottom-right-radius:  20px;
      width: 244px;
      margin-left: -25px;
       
    }


  .sidenav__list-item.active:hover{
      background: #8B81EF;
      border-top-left-radius: 0px;
      border-bottom-left-radius:  0px;
      border-top-right-radius:  20px;
      border-bottom-right-radius:  20px;
      width: 244px;
       
    }
.main {
  grid-area: main;
  background-color: #262c43; /* #8fd4d9*/
  margin-left: 60px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 150px;
  color: white;
  border-radius: 10px;
  background-color: #34d399;
   background-image: url('./animations/backgroundheader.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center bottom;
  
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .welcome-title {
    margin-bottom: 8px;
    margin-top: 28px;
    font-size: 26px;
  }

  .welcome-subtitle {
    font-size: 18px;
  }
.lottiemountain{


  object-fit: fill;

}
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #FBBF24;
  border-radius: 10px;
  transform: translateY(0);
}
.overviewcard:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 5px #fff;
  cursor: pointer;
}
.overviewcard__icon{
  margin-top: 15px;
  margin-left: -40px;
}
.overviewcard-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overviewcard-title {
  font-size: 18px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
}

.overviewcard-subtitle {
  margin: 2px;
  font-size: 28px;
  
}
.workinglottie{
  margin-top: 20px;
}

.assetslottie{
  margin-top: 0px;
  margin-left: 20px;
}
.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
 
 
}
.cardfull{
  
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  height: 600px;
  color: white;
  border-radius: 10px;
  background-color: #60A5FA;
  background: none;

  
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #34d399;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
  background-color: #60A5FA;
}

.card:nth-child(3) {
  height: 265px;
  background-color: #60A5FA;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #323232;
  margin-left: 65px;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header__search {
    margin-left: 30px;
    margin-top: -30px;
    

  }
  .header__search input{
    height: 30px;
    border:none;
    box-shadow: none;
   
  }
  .sidenav {
    position: relative; /* relative*/
    transform: translateX(0);
    border-radius: 2px;
    padding: 0px 16px;
 
   

  }

  .sidenav__close-icon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */
@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
  }
}

/*---------table-------------*/

  .deletebttn{
		background-color: #8B81EF;
		border-radius: 3px;
  }
  .viewbttn{
	background-color: #8B81EF;
	border-radius: 3px;
}
.editbttn{
	background-color: #8B81EF;
	border-radius: 3px;
}
.actions{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
  
}
.modalclass{
	display: block;
	width: 600px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
	
}
.modalclassoverlay{
 z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalheader h1{
	text-align: center;
	color: #fff;
	background-color: #262c43;
}
.modalinfo{
	padding-top: 50px;
	text-align: center;
	font-size: 20px;
	font-weight:600;
  color: #262c43;
	
}
.modalbttn{
	position: absolute;
	bottom:0;
	right: 0;
	padding:20px;
	margin-bottom: 10px;
	background-color: #ef4444;
}
.search-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  

}
.search-input{
  border:none;
  box-shadow: none;

}
.search-input :hover{
  border:none;

}
.searchfilter{
	display: flex;
  margin-left: 550px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	margin-right: 160px;
	border-radius: 3px;
  margin-bottom:10px ;
  
  
  }
.searchfilter input{

    height: 30px;
    width: 50%;
    margin-left: 200px;
    border:none;
    }
.pageofpage{
      margin-top:2px;
      margin-right: 10px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      }
.gotopage{

  width: 20%;
  height: 10px;
  margin-top: -5px;
  margin-left: 10px;
  box-shadow: none;
 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .gotopage input{
    height: 30px;
    width: 150%;
    border: none;
    
    
  }  
  .pagination{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    }
 .showpage{
     width: 10%;
     margin-left: -300px;
     margin-top: -5px;
      
    }    
    
