
@import url('https://fonts.googleapis.com/css?family=Jomhuria|Dela+Gothic+One|Century+Gothic');


body{
  background-color: #262c43;

  
}

.subHeading {
  z-index: 1;
  overflow: hidden; 
  font-family: Dela Gothic One, sans-serif;
  font-size: 30px;
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin-left: -170px;
  margin-top: 17vh;
  letter-spacing: .15em; 
  animation: 
    typing 8s steps(40, end),
    blink-caret .75s step-end infinite,
    color-change 5s infinite;
}
@keyframes color-change {
  0% { color: #b1bcf8; }
  20%{color: #a78bfa;}
  40%{color: orange;}
  60% { color:  #f472b6;}
  80%{color: #a78bfa;}
  100% { color: #b1bcf8; }
  
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.Heading {
  font-family: Dela Gothic One, sans-serif;
  font-size: 40px;
  margin-left: 70px;
  margin-top: 10vh;
  z-index: 1;

  /*animation: sway1 10s infinite;
    transform-origin: 50% 100% 0;*/
}
/*@keyframes sway1 {
  0%, 100%{ transform: rotate(-8deg);}
  50%{ transform: rotate(6deg); }
}*/
.pageText{
  z-index: -1;
  position: absolute;
  display: flex;
  align-content:flex-start;
  justify-content:flex-start;
  
}

.login{
  position: relative;
}
.logform{
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 15vh;
  margin-left: 65vw;
  width: 400px;
  height: 70vh;
  border-radius: 10px;
  z-index: 1;

}

input{
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #f3f4f6;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: Century Gothic, sans-serif;
  font-size: 20px;
  background-color: #f3f4f6;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  
}
input:hover{
  box-shadow: 5px 5px 10px #888888;

}
input:focus {
  box-shadow: 0 2px 3px #ccc;
  border-bottom: 0.15em solid #888888;
  top:-2px;
  outline: none;

}


.loginbttn{

  background-color: #a78bfa;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 100px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Century Gothic, sans-serif;
  font-size: 25px;
  box-shadow: 0 9px #999;
  
  
}
.loginbttn:hover{
  
  box-shadow: 0 9px #999;
  background-color: #8b5cf6;
  
}
.loginbttn:active {
  background-color: #8b5cf6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.lottieanim{
  position: absolute;
  z-index: -2;
  
  margin-top: 28vh;
}
.lottiewave{
  position: absolute;
  z-index: -2;
  margin-left: 6vw;
  margin-top: -20vh;
}
.lottieadmin{
  position: absolute;
  z-index: 2;
  margin-left: 7.5vw;
  margin-top: -23vh;
  
}
.lottieinvalid{
  position: absolute;
  z-index: 2;
  margin-top: -15vh;
  margin-left: -7vw; 
 
  
}

.loadingscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}
.error{
  color: red;
  margin-left: 1vw;
}


