@import url('https://fonts.googleapis.com/css?family=Jomhuria|Dela+Gothic+One');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jomhuria, sans-serif;
  }
.sidebar{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
  background: #10153B;
  transition: all 0.5s ease;
  padding-right: 10px;
  padding-left: 10px;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.lottielogo{
    margin-top: -1vh;
    margin-left: 0vw;
}
.sidebar .logo-details i{
    


  min-width: 60px;
  text-align: center;
}
.sidebar .logo-details .logo_name{
  font-family: Jomhuria, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  margin-left: 0vw;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.4s ease;
  

}
.sidebar .nav-links li a.active{
  background: #081D45;

}
.sidebar .nav-links li a:hover{
  background: #8B81EF;
  border-radius: 10px;
  box-shadow: -3px 3px 3px white;
  font-style:inherit;
  
  
}
.sidebar .nav-links li a:active{
    background: #8B81EF;
    border-radius: 10px;
    box-shadow: -2px 2px 2px white;
    transform: translateY(1px);
    
  }
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;

}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 300px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.home-section .dashboard{
    font-size: 50px;
    font-family: Dela 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}